:root {
  --main-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  --cursive-font: Cursive;
  --main-color: #3c3c3c;
  --border-color: #ccc;
  --hover-bg-color: #e4e5ed;
  --input-max-width: 800px;
}

/* General Styles */
body {
  font-family: var(--main-font);
  margin: 3% 7%;
}

h1, #pagetitle, #entertext, #imageurl {
  font-family: var(--cursive-font);
}

h1 {
  text-align: center;  
  color: var(--main-color);
}

.intro-text {
    font-style: italic;
    margin-bottom: 20px;
}

/* Grid Layout */
.grid {
  display: grid;
  grid-template-columns: 95%;
  justify-content: space-evenly;
  row-gap: 10px;
}

.grid img {
  width: 100%;
}

/* Background and Image Styles */
.background-container {
  position: relative;
  margin-top: 20px;
  text-align: center;
  overflow: hidden;
}

.bottom {
  position: relative; 
  padding: 0 20%;
  margin-top: 6%;
}

.responsive-img {
  width: 100%;
  height: auto;
  max-width: 80%;
  max-height: 40vh;
  display: block;
  margin: 0 auto;
  border-radius: 1%;
}

/* Word and Label Styles */
.hover-word {
  position: relative;
  cursor: pointer;
  background-color: var(--hover-bg-color);
  margin: 20px 5px 0 0;
  padding: 5px;
  text-align: center;
  display: inline-block;
}

.function-label {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  color: green;
  white-space: nowrap;
  margin-top: 2px;
}

/* Menu and Container Styles */
.radio-menu {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid var(--border-color);
  padding: 10px;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.radio-menu label {
    margin-right: 10px;
}

.submit-button {
    margin-top: 10px;
    background-color: #616161;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.translation-container {
  margin: 1% 0 1%;
}

/* Form Element Styles */
input[type="text"], textarea {
  width: 100%;
  max-width: var(--input-max-width);
  padding: 10px;
  font-size: 16px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

textarea {
  resize: vertical;
}

textarea.translation {
  font-size: 120%;
}

.translation-container label {
  font-size: 90%;
}

#submitKeyValueButton {
  display: none;
}

.key-value-input {
  margin: 10px 0;
}

.key-value-input:focus {
  border-color: #007BFF;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

/* Media Queries */
@media screen and (min-width: 772px) {
  .grid {
    grid-template-columns: 45% 45%;
    align-items: center;
  }
}

@media screen and (min-width: 950px) {
  .grid img:nth-child(3n) {
    grid-column: 1 / span 2;
  }
}

@media screen and (min-width: 1100px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
    align-items: stretch;
  }

  .grid img:nth-child(3n) {
    grid-column: auto;
  }
}

@media (max-width: 600px) {
  .sentence-container {
    line-height: 2;
  }
}

@media print {
  .responsive-img {
    display: none;
  }

  .hover-word {
    background-image: url('data:image/gif;base64,R0lGODlhAQABAIAAAAUEBA==');
    background-color: inherit !important;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
  }
}
